<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyojung.quest"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name="com.hyojung.quest.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hyojung.quest.Activity.LoginActivity"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hyojung.quest.Activity.MainActivity"
            android:label="MainActivity">
        </activity>

        <activity
            android:name="com.hyojung.quest.Activity.AddQuest"
            android:label="AddQuest">
        </activity>

        <activity android:name="com.hyojung.quest.Activity.AddPositionActivity"
            android:label="AddPositionActivity">
        </activity>

        <activity
            android:name="com.hyojung.quest.Activity.ViewQuest"
            android:label="ViewQuest">
        </activity>

        <activity
            android:name="com.hyojung.quest.Activity.ModifyUserInfo"
            android:label="ModifyUserInfo">
        </activity>

        <activity
            android:name="com.hyojung.quest.Activity.InAppPayment"
            android:label="InAppPayment"/>

        <activity
            android:name="com.hyojung.quest.Activity.ChatRoom"
            android:label="ChatRoom"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjFegTt4euvXtyHg_7AgTIdEF4qv3z-eo"/>
    </application>


</manifest>